<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IApiSkrin" maxReceivedMessageSize="2000000"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://api.skrin.ru/ApiSkrin.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IApiSkrin" contract="ApiSkrin.IApiSkrin"
          name="BasicHttpBinding_IApiSkrin" />
    </client>
  </system.serviceModel>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy bypassonlocal="False" proxyaddress="http://10.207.32.118:8080" />
    </defaultProxy>
  </system.net>
</configuration>